@font-face {
  font-family: "Rubik";
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #444444;
  background: #FFFFFF;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  position: relative;
  min-width: 120px;
  border: none;
  background: none;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  color: #000000;
  height: 40px;
  cursor: pointer;
}

.button-primary::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  content: "";
  width: auto;
  height: 8px;
  background-color: #FFE17F;
  z-index: -1;
}

.advantages-button {
  width: 160px;
  z-index: 1;
}

.button-primary:hover {
  background-color: #FFE17F;
}

.button-primary:active {
  background-color: #FFCC33;
}

.button-primary:active .button-primary::before {
  background-color: #FFCC33;
}

.button-primary:focus {
  box-shadow: inset 0 0 0 2px #AF4FFF;
  outline: none;
}

/* .button-primary:focus {
border: 2px solid #AF4FFF;
} */

.button-primary:disabled {
  opacity: 0.3;
}

.advantages-button::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  content: "";
  width: auto;
  height: 8px;
  background-color: #FFE17F;
  z-index: -1;
}

.advantages-button-current {
  color: #FFE17F;
}

.advantages-button-current:hover,
.advantages-button-current:active {
  padding-left: 35px;
}

.advantages-button-current:focus {
  box-shadow: 0 0 0 2px #AF4FFF;
}

.advantages-button-current::before {
  background-color: #000000;
  content: "";
  width: 280px;
  height: 40px;
}

.btn-slider {
  width: 220px;
  margin-bottom: 50px;
}

.about-us-btn {
  width: 270px;
}

.contacts-btn {
  width: 259px;
}

.container {
  display: flex;
  width: 1160px;
  margin: 0 auto;
}

.page-header {
  position: relative;
  color: #000000;
}

.page-header-link {
  position: relative;
  top: -20px;
  width: 145px;
}

.page-header .container {
  position: relative;
  background: #FFE17F;
  flex-direction: column;
  padding: 0 60px;
  margin-top: 40px;
  box-sizing: border-box;
}

.user-link-row {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}

.navigation-row {
  display: flex;
  justify-content: space-between;
}

.navigation-catalog {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-catalog-image {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #000000;
  opacity: 0.3;
  margin-left: 7px;
}

.header-catalog-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.search-form-container {
  display: flex;
}

.search-form {
  display: grid;
  grid-template-columns: 1fr auto;
  width: 517px;
  box-sizing: border-box;
}

.search-input {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  width: 359px;
  height: 40px;
  padding: 0 0 0 48px;
  border: 2px solid #000000;
  border-radius: 50px 0 0 50px;
  background-color: #FFE17F;
}

.search-input:focus {
  box-shadow: 0 0 0 2px #AF4FFF;
  outline: none;
}

.search-input:disabled {
  opacity: 0.3;
}

.search-input::placeholder {
  opacity: 0.3;
}

.search {
  position: relative;
}

.search-icon {
  position: absolute;
  top: 12px;
  left: 16px;
}

.search-button {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: normal;
  width: 160px;
  height: 40px;
  margin-left: 0;
  text-align: center;
  color: #000000;
  text-transform: none;
  border: 2px solid #000000;
  border-left: 0;
  border-radius: 0 50px 50px 0;
}

.search-button:hover {
  color: #FFFFFF;
  background-color: #000000;
}

.search-button:active {
  color: #FFFFFF;
  background-color: #000000;
}

.search-button:active span{
  opacity: 0.3;
}

.search-button:focus {
  box-shadow: 0 0 0 2px #AF4FFF;
  outline: none;
}

.search-button:disabled {
  opacity: 0.3;
}

.user-login {
  margin-left: 26px;
  margin-right: 28px;
  padding-left: 27px;
}

.user-link-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 350px;
}

.user-link-container .user-link:not(:last-child) {
  margin-right: 36px;
}

.user-link {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  text-decoration: none;
  color: #000000;
}

.user-link:hover {
  opacity: 0.6;
}

.user-link:active {
  opacity: 0.3;
}

.user-link:focus {
  box-shadow: 0 0 0 2px #AF4FFF;
}

.user-exit {
  opacity: 0.3;
}

.catalog-container {
  max-width: 300px;
  position: relative;
}

.navigation {
  display: flex;
  margin-left: auto;
  justify-content: center;
  align-items: center;
}

.navigation-link {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  position: relative;
}

.navigation-link-active::after {
  position: absolute;
  content: "";
  width: 100%;
  left: -1px;
  bottom: -4px;
  border-bottom: 2px solid #000000;

}

.navigation-link-active:hover {
  opacity: 0.6;
}

.navigation-link-active:active {
  opacity: 0.3;
}

.navigation-link-active:focus {
  box-shadow: 0 0 0 2px #AF4FFF;
}

.navigation-link:hover {
  opacity: 0.6;
}

.navigation-link:active {
  opacity: 0.3;
}

.navigation-link:focus {
  box-shadow: 0 0 0 2px #AF4FFF;
}

.navigation .navigation-link:not(:last-child) {
  margin-right: 45px;
}

.footer-navigation-link:not(:last-child) {
  margin-right: 45px;
}

.footer-navigation-link {
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  position: relative;
}

.footer-navigation-link::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid #FFC700;
  width: 100%;
  top: 25px;
  left: 0;
  display: none;
}

.footer-navigation-link:hover {
  color: #FFC700;
}

.footer-navigation-link:hover::after {
  display: block;
}

.footer-navigation-link:active {
  color: #FFC700;
  opacity: 0.3;
}

.footer-navigation-link:focus {
  box-shadow: 0 0 0 2px #AF4FFF;
  outline: none;
}

.main-container {
  flex-grow: 1;
}

.slide {
  display: flex;
  align-items: center;
  position: relative;
}

.slider-controls {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 50%;
  width: 560px;
  transform: translateY(-50%);
}

.slider {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 70px;
  position: relative;
}

.slider-1::before {
  content: "01";
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 180px;
  line-height: 30px;
  color: #FFFFFF;
  position: absolute;
  background-color: #FFE17F;
  top: 54px;
  right: 49px;
  z-index: -1;
}

.slider::after {
  background-color: #FFE17F;
  height: 110px;
  width: 1160px;
  content: "";
  position: absolute;
  z-index: -2;
}

.slider-image {
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.slider-info-container {
  margin-left: 40px;
}

.slider-title {
  margin: 0 15px 29px 0;
}

.slider-text {
  margin-bottom: 50px;
}

.slider-button {
  width: 30px;
  height: 60px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  background-image: url("../images/slider-arrow-left.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.slider-button:hover {
  opacity: 0.6;
}

.slider-button:focus {
  outline: 2px solid #AF4FFF;
}

.slider-next {
  transform: rotate(180deg);
}

.slider-pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slider-pagination-item:not(:last-of-type) {
  margin-right: 20px;
}

.slider-pagination-button {
  width: 12px;
  height: 12px;
  margin: 0;
  padding: 0;
  border: 2px solid #000000;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
}

.slider-pagination-button:hover {
  opacity: 0.6;
}

.slider-pagination-button:focus {
  outline: 2px solid #AF4FFF;
}

.slider-pagination-button-current {
  background-color: #000000;
}

.table-info {
  margin: 0;
}

.table-info-1 {
  display: grid;
  grid-template-columns: 141px auto;
  grid-column-gap: 20px;
  grid-row-gap: 12px;
}

.table-info-2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 12px;
}

.table-info-3 {
  display: grid;
  grid-template-columns: 100px 80px 128px;
  grid-column-gap: 40px;
  grid-row-gap: 12px;
}

.table-description {
  grid-row: 1 / 2;
  margin: 0;
}

.main-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  color: #000000;
}

.table-title {
  font-size: 16px;
  line-height: 30px;
}

.table-description {
  font-size: 36px;
  line-height: 30px;
  color: #000000;
}

.product-category {
  margin-bottom: 70px;
}

.product-category-link {
  width: 160px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.product-category-link:hover .product-icon-container {
  background-color: #FFC700;
}

.product-category-link:active {
  opacity: 0.3;
}

.product-category-link:focus {
  box-shadow: 0 0 0 2px #AF4FFF;
}

.product-category-link:not(:last-child) {
  margin-right: 40px;
}

.tab-description-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.advantages-title {
  margin-top: 0;
  margin-bottom: 34px;
}

.tab-menu {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 64px 0;
  justify-content: center;
}

.tab-description-container::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 0;
  border-left: 7px solid #000000;
}

.tab-menu button:not(:last-child) {
  margin-bottom: 35px;
}

.tab-description {
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr;
  width: 694px;
  margin: 73px 63px;
}

.second {
  width: 729px;
}

.credit {
  width: 694px;
}

.text-container-delievery {
  width: 448px;
}

.text-container-guarantee {
  width: 479px;
}

.text-container-credit {
  width: 475px;
}

.advantages-icon-1 {
  position: absolute;
  top: 5px;
  right: 0;
  bottom: 5px;
  left: auto;
}

.advantages-icon-2 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: auto;
}

.advantages {
  position: relative;
  width: 100%;
  background: #F0F0F0;
}

.unique-advantage-text {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 800;
  line-height: 23px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background: #F0F0F0;
}

.unique-advantage .container {
  margin-top: 70px;
}

.unique-advantage-left {
  position: relative;
  width: 125px;
  height: 100px;
  background-color: #FFE17F;
}

.unique-advantage-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

.unique-advantage-right {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 125px;
  height: 100px;
  background-color: #F0F0F0;
}

.unique-advantage-info {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: rgba(220, 220, 220, 0.5);
  border-radius: 50%;
}

.unique-advantage-button {
  display: grid;
  grid-template-columns: 125px 1fr 125px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  width: 1160px;
  height: 100px;
  background: #F0F0F0;
  border: none;
  align-items: center;
  justify-items: center;
  padding: 0;
  cursor: pointer;
}

.unique-advantage-button:hover .unique-advantage-left {
  background-color: #FFC700;
}

.unique-advantage-button:active {
  opacity: 0.3;
}

.unique-advantage-button:focus {
  box-shadow: 0 0 0 2px #AF4FFF;
}

.company-info .company-info-container {
  margin-top: 70px;
}

.company-info-container {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  justify-content: space-between;
}

.about-us {
  width: 520px;
}

.contacts {
  width: 520px;
}

.about-us-title {
  margin: 47px 0 48px 0;
}

.about-us-list {
  padding-left: 19px;
  margin-top: 30px;
  margin-bottom: 0;
}

.about-us-item {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
  padding-left: 26px;
}

.about-us-item:not(:nth-child(3)) {
  margin-bottom: 19px;
}

.about-us-item::marker {
  color: #FFC700;
  margin: 0;
  padding: 0;
}

.about-us button {
  margin-top: 30px;
}

.contacts-subtitle {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 24px;
}

.contacts-address {
  font-style: normal;
}

.contacts-phone {
  text-decoration-line: underline;
  color: #444444;
}

.contacts-schedule {
  list-style-type: none;
  padding: 0;
}

.newsletter {
  width: 100%;
  background: #F0F0F0;
  margin-top: 70px;
}

.newsletter .container {
  flex-direction: column;
}

.newsletter-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 64px 0 144px 0;
}

.email-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 56px;
}

.newsletter-text {
  margin-left: 252px;
}

.newsletter-title {
  margin: 0 0 0 0;
}

.newsletter-form {
  display: flex;
}

.newsletter-remark {
  position: relative;
  padding-left: 32px;
}

.checkmark-icon {
  position: absolute;
  top: 0;
  right: auto;
  bottom: 0;
  left: 0;
  margin: auto 0;
}

.email-input {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  width: 557px;
  height: 52px;
  border: none;
  border-bottom: 3px solid #C4C4C4;
  background: none;
}

.button-extra {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  background: none;
  min-width: 253px;
  border: 3px solid #C4C4C4;
  height: 57px;
}

.button-extra:hover {
  background-color: #000000;
  color: #FFFFFF;
  border: 3px solid #000000;
}

.button-extra:active {
  background-color: #000000;
  color: #FFFFFF;
  border: 3px solid #000000;
}

.button-extra:active span{
  opacity: 0.3;
}

.button-extra:focus {
  outline: 2px solid #AF4FFF;
}

.button-extra:disabled {
  opacity: 0.3;
}

.page-footer {
  background: #444444;
}

.footer-contacts {
  position: relative;
  width: 240px;
  margin: 62px 119px 77px 0;
}

.footer-contacts::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 80px;
  border-bottom: 7px solid #FFC700;
}

.footer-contacts-address {
  display: flex;
  margin-top: 30px;
  font-style: normal;
}

.footer-nav-socials {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 137px 0 61px 0;
}

.footer-connection {
  display: flex;
  flex-direction: column;
  width: 175px;
  margin-top: 140px;
  margin-bottom: 65px;
  margin-left: auto;
}

.footer-address-text {
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}

.footer-social {
  display: flex;
}

.socials {
  position: relative;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}

.socials:not(:nth-of-type(3)) {
  margin-right: 15px;
}

.socials-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.social-button {
  display: inline-block;
  width: 40px;
  height: 40px;
}

.social-button:hover {
  background-color: #FFC700;
  border-radius: 50%;
}

.social-button:active {
  background-color: #FFC700;
  border-radius: 50%;
}

.social-button:active svg {
  opacity: 0.3;
}

.social-button:focus {
  box-shadow: 0 0 0 2px #AF4FFF;
  outline: none;
}

.footer-phone {
  display: flex;
  font-style: normal;
  margin-bottom: 63px;
}

.htmlacademy-link {
  margin-left: auto;
}

.htmlacademy-link:hover svg path{
  fill: rgb(255, 255, 255);
}

.htmlacademy-link:active svg path{
  fill: rgb(255, 255, 255);
  opacity: 0.3;
}

.htmlacademy-link:focus {
  box-shadow: 0 0 0 2px #AF4FFF;
}

.footer-contacts-phone {
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #FFFFFF;
}

.footer-contacts-phone:hover {
  color: #FFC700;
}

.footer-contacts-phone:active {
  color: #FFC700;
  opacity: 0.3;
}

.footer-contacts-phone:focus {
  box-shadow: 0 0 0 2px #AF4FFF;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #000000;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:focus {
  box-shadow: inset 0 0 0 2px #AF4FFF;
  outline: none;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 36px;
}

.breadcrumbs-icon {
  position: absolute;
  top: 0;
  right: -18px;
  bottom: 0;
  margin: auto;
  opacity: 0.2;
}

.catalog-products-title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 35px;
}

.catalog-filter-group {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  border: none;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  padding-top: 12px;
  margin-bottom: 20px;
  position: relative;
}

.catalog-filter-title::before {
  position: absolute;
  content: "";
  border-top: 2px solid #000000;
  width: 200px;
  top: 0;
}

.range-scale {
  position: relative;
  height: 2px;
  background-color: #DCDCDC;
  margin-bottom: 11px;
}

.range-bar {
  position: absolute;
  height: 2px;
  background-color: #000000;
}

.range-toggle {
  position: absolute;
  width: 18px;
  height: 18px;
  background: #EBEBEB;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

.range-toggle:hover {
  opacity: 0.5;
}

.range-toggle:active {
  background-color: #000000;
}

.range-toggle:focus {
  outline: 2px solid #AF4FFF;
}

.toggle-min {
  top: -8px;
  left: -18px;
}

.toggle-max {
  top: -8px;
  left: 110px;
}

.range-wrapper-inputs {
  display: flex;
  justify-content: space-between;
}

.catalog-filter-label {
  display: flex;
  opacity: 0.5;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.range-input {
  max-width: 55px;
  padding: 0 2px;
  font: inherit;
  background-color: transparent;
  border: none;
  appearance: textfield;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.property {
  position: relative;
  display: block;
  padding-left: 36px;
  cursor: pointer;
}

.property-mark {
  position: absolute;
  top: 0;
  left: 2px;
  width: 20px;
  height: 20px;
  border: 2px solid #000000;
  border-radius: 3px;
}

.property:hover {
  opacity: 0.6;
}

.property:active {
  opacity: 0.3;
}

.property:disabled {
  opacity: 0.1;
}

.property-input[type="checkbox"]:checked + .property-mark {
  background-image: url("../images/tick.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.property-input[type="radio"] + .property-mark {
  border-radius: 50%;
}

.property-input[type="radio"]:checked + .property-mark {
  background-image: url("../images/ellipse.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.catalog-filter-list {
  padding: 0;
}

.catalog-filter-item {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 17px;
  list-style-type: none;
}

.select-control {
  display: flex;
  align-items: center;
  padding-right: 32px;
  font: inherit;
  background-color: transparent;
  border: none;
  background-image: url("../images/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 12px top 13px;
  appearance: none;
}

.select-control-title {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #000000;
}

.product-list {
  background-color: #FFFFFF;
  padding: 70px 40px 70px;
}

.button-secondary {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 18px 39px;
  width: 760px;
  height: 55px;
  border: 3px solid #E5E5E5;
  margin: 44px 0;
  background: none;
}

.button-secondary:hover {
  border: 3px solid #000000;
}

.button-secondary:active {
  opacity: 0.3;
  border: 3px solid #000000;
}

.button-secondary:focus {
  outline: 2px solid #AF4FFF;
}

.button-secondary:disabled {
  opacity: 0.3;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}

.product-card-link {
  text-decoration: none;
  width: 360px;
}

.product-card-price {
  color: #000000;
}

.product-card-btn {
  width: 220px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 70px;
  margin: 180px auto;
  display: none;
  z-index: 2;
}

.product-card-btn::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  content: "";
  width: auto;
  height: 8px;
  background-color: #FFE17F;
  z-index: -1;
}

.product-card:hover .product-card-btn {
  display: block;
}

.product-card:hover .product-card-link {
  opacity: 0.6;
 }

 .product-card:active .product-card-btn::before {
  display: block;
  background-color: #FFC700;
}

.product-card:active .product-card-link {
  opacity: 0.6;
}

.product-card-link:focus {
  box-shadow: 0 0 0 2px #AF4FFF;
}

.product-card-image {
  position: relative;
  z-index: 2;
}

.product-card-title {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
  max-width: 226px;
}

.product-card-price {
  font-size: 18px;
  line-height: 21px;
  text-align: right;
}

.catalog-products {
  position: relative;
  display: flex;
  background-color: #F0F0F0;
}

.filter-container {
  width: 200px;
  margin-right: 60px;
  margin-left: 60px;
  padding-top: 20px;
}

.btn-filter {
  width: 220px;
  z-index: 1;
}

.catalog-right-column {
  width: 840px;
}

.catalog-title {
  display: flex;
  width: 1040px;
  margin: 0 auto;
}

.breadcrumbs-container {
  margin-bottom: 35px;
}

.breadcrumbs-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.sorting-menu-container {
  display: flex;
  padding: 20px 40px;
  justify-content: space-between;
  align-items: center;
}

.sorting-menu-button {
  width: 30px;
  height: 30px;
  border: none;
}

.sorting-menu-button:hover {
  opacity: 0.5;
}

.sorting-menu-button:focus {
  box-shadow: 0 0 0 2px #AF4FFF;
  outline: none;
}

.sorting-icon {
  opacity: 0.2;
}

.sorting-button-container {
  display: flex;
}

.pagination-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  background-color: #F0F0F0;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center
}

.pagination-link {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}

.pagination-number {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
}

.pagination-number:hover {
  color: #444444;
}

.pagination-number:active {
  opacity: 0.1;
}

.pagination-number:focus {
  opacity: 0.3;
  box-shadow: 0 0 0 2px #AF4FFF;
}

.pagination-item:not(:first-of-type) {
  opacity: 0.3;
}

.pagination-item:first-of-type {
  opacity: 0.6;
}

.product-list-container {
  display: grid;
  grid-template-columns: 360px 360px;
  grid-column-gap: 40px;
  grid-row-gap: 44px;
}

.user-link-icon {
  position: absolute;
  top: 0;
  right: auto;
  bottom: 0;
  left: 0;
  margin: auto 0;
  fill: #000000;
}

.user-compare {
  padding-left: 22px;
}

.user-basket {
  padding-left: 25px;
  position: relative;
}

.user-basket::before {
  position: absolute;
  display: flex;
  content: "2";
  width: 21px;
  height: 21px;
  background-color: #FFFFFF;
  border-radius: 50%;
  left: -18px;
  z-index: 1;
  justify-content: center;
  align-items: center;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.product-icon-container {
  position: relative;
  width: 160px;
  height: 160px;
  background: #FFE17F;
}

.product-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #363636;
}

.page-header .catalog-header {
  padding: 0 60px 20px 60px;
}

.product-description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.page-footer-link {
  display: inline-block;
  z-index: 1;
  position: relative;
  width: 145px;
  height: 36px;
}

.page-header-link:hover,
.page-footer-link:hover {
  opacity: 0.6;
}

.pagination-prev,
.pagination-next {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 128px;
  height: 71px;
}

.page-header-link:focus,
.page-footer-link:focus {
  box-shadow: inset 0 0 0 2px #AF4FFF;
  outline: none;
}

.page-header-link:active,
.page-footer-link:active {
  opacity: 0.3;
}

.pagination-prev:hover,
.pagination-next:hover {
  background-color: #DCDCDC;
}

.pagination-prev:active,
.pagination-next:active {
  background-color: #DCDCDC;
}

.pagination-prev:active span,
.pagination-next:active span {
  opacity: 0.3;
}

.pagination-prev:focus,
.pagination-next:focus {
  box-shadow: 0 0 0 2px #AF4FFF;
}

.pagination-prev:disabled,
.pagination-next:disabled {
  opacity: 0.3;
}

.popover {
  position: absolute;
  top: 120px;
  right: 16px;
  z-index: 1;
  box-sizing: border-box;
  width: 320px;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background: #000000;
  min-height: 173px;
  display: none;
}

.popover-open {
  display: block;
}

.popover::before {
  position: absolute;
  content: "";
  width: 7px;
  height: 7px;
  top: -3px;
  left: 160px;
  transform: rotate(45deg);
  background-color: #000000;
}

.popover-element {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 23px;
  align-items: flex-start;
  padding: 20px;
}

.popover-element-text {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  text-decoration: none;
  color: inherit;
}

.popover-element-text:hover {
  opacity: 0.6;
}

.popover-element-text:active {
  opacity: 0.3;
}

.popover-element-text:focus {
  outline: 2px solid #AF4FFF;
}

.popover-element + .popover-element {
  border-top: 1px solid;
  border-color: rgba(255, 255, 255, 0.1);
}

.popover-element-title {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  margin-left: 23px;
}

.popover-delete-btn {
  width: 10px;
  height: 10px;
  justify-self: flex-end;
  border: none;
  background-color: transparent;
  background-image: url("../images/popover/delete-btn.svg");
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.popover-delete-btn:hover {
  opacity: 0.6;
}

.popover-delete-btn:active {
  opacity: 0.3;
}

.popover-delete-btn:focus {
  outline: 2px solid #AF4FFF;
}

.popover-summary {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #1A1A1A;
}

.popover-button {
  width: 280px;
  height: 50px;
  background-color: #FFFFFF;
  color: #000000;
  border: none;
  margin: 20px;
}

.popover-button:hover {
  background-color: #FFE17F;
}

.popover-button:active {
  background-color: #FFE17F;
  opacity: 0.3;
}

.popover-button:focus {
  outline: 2px solid #AF4FFF;
}

.popover-button:disabled {
  opacity: 0.3;
}

.nav-popover {
  position: absolute;
  top: 55px;
  left: -60px;
  padding: 15px 60px 35px 60px;
  width: 1160px;
  z-index: 1;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  box-sizing: border-box;
  background: #FFE17F;
  display: none;
}

.nav-popover-open {
  display: block;
}

.nav-popover-title {
  text-decoration: none;
  color: #000000;
  margin: 0;
  padding: 0;
}

.nav-popover-title:hover {
  opacity: 0.6;
}

.nav-popover-title:active {
  opacity: 0.3;
}

.nav-popover-title:focus {
  outline: 2px solid #AF4FFF;
}

.nav-popover-container {
  width: 1100px;
}

.nav-popover-content {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  column-gap: 30px;
  row-gap: 15px;
  width: 644px;
}

.nav-popover-content .nav-popover-title:nth-of-type(3) {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background: rgba(240, 240, 240, 0.9);
  z-index: 2;
}

.modal {
  position: relative;
  margin: auto;
  padding: 72px 80px;
  background: #FFFFFF;
  border: 10px solid #000000;
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1);
}

.modal-auth {
  width: 760px;
}

.modal-close-button {
  background-image: url("../images/modal-exit-btn.svg");
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  width: 26px;
  height: 26px;
  background-color: transparent;
  cursor: pointer;
}

.modal-title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-title {
  margin: 0;
  padding: 0;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.auth-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.field-group {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 42px;
}

.auth-form-field {
  border: none;
  padding: 20px;
  margin: 0;
  background: #F0F0F0;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.name-field {
  width: 320px;
}

.email-field {
  width: 320px;
}

.extra-field {
  width: 500px;
}

.quantity-field {
  width: 40px;
}

.quantity-btn {
  position: relative;
  width: 60px;
  height: 60px;
  border: none;
  cursor: pointer;
}

.modal-btn-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.quantity-block {
  display: flex;
}

.modal-form-button {
  margin-top: 42px;
  padding: 0 30px;
  z-index: 1;
}

.modal-form-button::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  content: "";
  width: auto;
  height: 8px;
  background-color: #FFE17F;
  z-index: -1;
}

.modal-form-button:hover {
  background-color: #FFE17F;
}

.modal-form-button:active {
  background-color: #FFCC33;
}

.modal-form-button:active::before {
  background-color: #FFCC33;
}

.modal-form-button:focus {
  box-shadow: inset 0 0 0 2px #AF4FFF;
  outline: none;
}

.auth-name-label {
  margin-bottom: 18px;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.modal-icon {
  position: absolute;
  right: 21px;
  bottom: 24px;
}

.quantity-label {
  position: relative;
}

.quantity-label::after {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  content: "i";
  color: #000000;
  width: 26px;
  height: 26px;
  background: #FFE17F;
  border-radius: 50%;
  top: -3px;
  right: 50px;
}
