@font-face {
  font-family: "Rubik";
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #444444;
  background: #FFFFFF;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  display: flex;
  width: 1160px;
  margin: 0 auto;
}

.page-header {
  background: #FFE17F;
  color: #000000;
}

.search-form-container {
  display: flex;
  flex-wrap: wrap;
  width: 650px;
}

.user-login {
  margin-left: 26px;
}

.user-link-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 350px;
  margin-left: auto;
}

.user-link-container .user-link:not(:last-child) {
  margin-right: 36px;
}

.search-input {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  width: 359px;
  height: 40px;
}

.user-link {
  text-align: center;
  text-decoration: none;
  color: #000000;
}

.catalog-container {
  max-width: 300px;
}

.navigation {
  display: flex;
  margin-left: auto;
}

.navigation-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.navigation .navigation-link:not(:last-child) {
  margin-right: 45px;
}

.main-container {
  flex-grow: 1;
}

.slider {
  display: flex;
  justify-content: space-between;
}

.slider-info-container {
  width: 560px;
}

.main-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  color: #000000;
}

.table-title {
  font-size: 16px;
  line-height: 30px;
}

.table-description {
  font-size: 36px;
  line-height: 30px;
  color: #000000;
}

.product-category-link {
  width: 160px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.tab-menu {
  width: 280px;
}

.tab-description {
  width: 694px;
}

.advantages-button {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}

.advantages-button-current {
  color: #FFE17F;
}

.advantages {
  width: 100%;
  background: #F0F0F0;
}

.unique-advantage-text {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 800;
  line-height: 23px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background: #F0F0F0;
}

.company-info-container {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  justify-content: space-between;
}

.about-us {
  width: 520px;
}

.contacts {
  width: 520px;
}

.about-us-item {
  font-family: "Rubik", sans-serif;
  line-height: 20px;
  color: #000000;
  font-weight: 700;
}

.contacts-subtitle {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 24px;
}

.contacts-address {
  font-style: normal;
}

.contacts-phone {
  text-decoration-line: underline;
  color: #444444;
}

.newsletter {
  width: 100%;
  background: #F0F0F0;
}

.page-footer {
  background: #444444;
}

.footer-contacts {
  width: 240px;
  margin-right: 119px;
}

.footer-connection {
  width: 175px;
  margin-left: auto;
}

.footer-address-text {
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.footer-navigation .navigation-link {
  color: #FFFFFF;
}

.footer-contacts-address {
  font-style: normal;
}

.footer-contacts-phone {
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #FFFFFF;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #000000;
}

.catalog-products-title {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #000000;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.catalog-filter-item {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.select-control-title {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #000000;
}

.product-card-link {
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.product-card-price {
  font-size: 18px;
  line-height: 21px;
  text-align: right;
}

.catalog-products {
  display: flex;
}

.filter-container {
  width: 200px;
  margin-right: 60px;
  margin-left: 60px;
}

.catalog-right-column {
  width: 840px;
}

breadcrumbs-container {
  display: flex;
  width: 1079px;
  margin: 0 auto;
}
